*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

/*main*/
.msm{
  margin-top: 200px;
  display: flex;
  align-items: center;
  background-color: rgb(138, 224, 124);
  width: 100%;
}

.alert {
  margin-top: 200px;
}

.form-group{
  display: flex;
  gap: 2px;
  flex-direction: column;
}

.corpo{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(192, 208, 233);
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a{
  color: rgb(196, 110, 104);
  text-decoration: none;
}

header{
  display: flex;
  justify-content: center;
  z-index: 1000;
  position: fixed;
  align-items: center;
  width: 100%;
  padding: 15px;
  gap: 15px;
  background-color: #e4d5d5;
}

/* Estilos para o menu suspenso */

.dropdown {
  margin: 10px 0;
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.btn-secondary {
  background-color: #6c757d;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #495057; /* Cor de fundo quando o botão é hover */
}

.imagem{
  width: 100;
  height: 200px;
}

/*acoes*/

.secao_acoes{
  padding: 0;
}

.secao_acoes #cima{
  flex-direction: column;
  margin-top: 120px;
}

.secao_acoes #caixa {
  background-color: rgb(196, 110, 104);
  padding: 50px;
  margin-top: 20px;
  margin-bottom: 100px;
  border: 1px solid #d3a4a4;
  border-radius: 6px;
}

.secao_acoes .form-group{
  margin: 5px;
  gap: 5px;
}

.secao_acoes .btn-primary{
  margin-top: 15px;
}

/*footer*/

footer{
  text-align: center;
  padding: 10px;
  margin-top: 100px;
  background-color: #e4d5d5;
  width: 100%;
  bottom: 0;
}

footer a {
  color: #000000;
  text-decoration: none;
  margin: 0 5px;
}

footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {

  header{
    justify-content: space-around;
  }

  .secao_acoes{
    width: 99vw;
  }

  .secao_acoes .form-group{
    margin: 10px;
    gap: 10px;
    text-align: center;
  }

  .secao_acoes select, .secao_acoes input{
    text-align: center;
  }

  .secao_acoes #caixa {
    width: 100%;
    padding: 25px;
    margin-bottom: 50px;
  }

  footer{
    margin-top: 80px;
  }

}
