.secao_edit_ativos{
    padding: 0;
    margin-top: 250px;
}
  
.secao_edit_ativos #caixa {
    background-color: rgb(196, 110, 104);
    padding: 35px;
    min-width: 400px;
    border: 1px solid #d3a4a4;
    border-radius: 5px;
}

.secao_edit_ativos .form-group{
    margin: 5px;
    gap: 5px;
}

.secao_edit_ativos .buttons{
    margin: 5px;
}

.secao_edit_ativos .buttons  .btn-primary{
    width: 100%;
}

@media screen and (max-width: 768px) {
    
    .secao_edit_ativos .form-group{
        margin: 10px;
        gap: 10px;
        text-align: center;
    }

    .secao_edit_ativos select, .secao_edit_ativos input{
        text-align: center;
        padding: 3px;
    }

    .secao_edit_ativos #caixa {
        padding: 15px;
        margin-bottom: 50px;
    }

}
