/* login */

.secao_login {
  padding: 0;
}

.secao_login .container {
  margin-top: 80px;
  margin-bottom: 300px;
}

.secao_login .titulo {
  margin-bottom: 100px;
}

.secao_login #caixa {
  background-color: rgb(196, 110, 104);
  padding: 70px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.secao_login .form-group a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {

  .secao_login #caixa {
    width: 95vw;
    padding: 50px;
  }

  .secao_login .container {
    margin-top: 100px;
    margin-bottom: 250px;
  }

  .secao_login .titulo {
    margin-bottom: 50px;
  }

}
