  .secao_movimento{
    padding: 0;
    margin-bottom: 50px;
    margin-top: 150px;
  }

  .secao_movimento_1{
    padding: 0;
  }

  /*form para buscar ativo*/

  .secao_movimento .formulario1 {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 15px;
  }

  /*form para baixar ativo*/

  .secao_movimento .formulario2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 600px;
    margin-top: 50px;
    gap: 10px;
  }

  .secao_movimento .btn-custom {
    background-color: rgb(98, 245, 106);
  }

  /*tables das seções das ações e fiis*/

  .secao_movimento_1 #caixa,
  .secao_movimento_1 #caixa2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(196, 110, 104);
    padding: 20px;
    margin-top: 30px;
    max-height: 1000px;
    border: 1px solid #d3a4a4;
    border-radius: 5px;
  }

  .secao_movimento_1 .table-responsive{
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .secao_movimento_1 .table{
    border-collapse: collapse;
    width: 100%;
  }

  .secao_movimento_1 .table .buttons{
    display: flex;
    justify-content: center;
    padding: 4px;
    gap: 5px;
  }

  .secao_movimento_1 .btn-warning, 
  .secao_movimento_1 .btn-danger{
    padding: 4px;
    margin: 10px;
  }

  .secao_movimento_1 .table th,
  .secao_movimento_1 .table td {
    width: 100%;   
    border: 1px solid rgb(255, 255, 255);
    padding: 4px;
    box-sizing: border-box;
  }
  
  .secao_movimento_1 .table-responsive tbody td:nth-child(odd),
  .secao_movimento_1 .table-responsive thead th:nth-child(odd){
    background-color: rgb(230, 216, 215); 
  }

  .secao_movimento_1 .table-responsive tbody td:nth-child(even),
  .secao_movimento_1 .table-responsive thead th:nth-child(even){
    background-color: rgb(240, 230, 229);
  }

  /*ajax de busca*/

  .secao_movimento .autocomplete {
    position: relative;
  }

  .secao_movimento #Nome {
      width: 100%;
      padding: 5px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
  }

  .secao_movimento #suggestions {
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      z-index: 1;
  }

  .secao_movimento .suggestion {
      padding: 10px;
      cursor: pointer;
  }

  @media screen and (max-width: 768px) {

    .secao_movimento{
      margin-bottom: 0;
      margin-top: 100px;  
    }

    .secao_movimento_1 #caixa, 
    .secao_movimento_1 #caixa2 {
      padding: 10px;
      margin-top:60px;
      max-height: 500px;
      width: 99vw;
    }

  }