.secao_acoes{
    padding: 0;
}
  
.secao_acoes #caixa {
    text-align: center;
    background-color: rgb(196, 110, 104);
    padding: 80px;
    margin-top: 200px;
    margin-bottom: 20px;
    border: 1px solid #d3a4a4;
    border-radius: 5px;
}

.secao_acoes .form-group{
    margin: 5px;
    gap: 5px;
}

.secao_acoes .btn-primary{
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    
    .secao_acoes{
        width: 98vw;
    }
    
    .secao_acoes .form-group{
        margin: 10px;
        gap: 10px;
        text-align: center;
    }

    .secao_acoes select, .secao_acoes input{
        text-align: center;
    }

    .secao_acoes #caixa {
        width: 100%;
        padding: 20px;
        margin-bottom: 50px;
    }

}
