
.secao_mostrar{
    padding: 0;
    margin-top: 100px;
}
.secao_mostrar #cima{
    margin-top: 80px;
}

.secao_mostrar #caixa {
    background-color: rgb(196, 110, 104);
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 400px;
    border: 1px solid #d3a4a4;
    border-radius: 7px;
}

.secao_mostrar .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.secao_mostrar .table{
    border-collapse: collapse;
    width: 100%;
}

.secao_mostrar .table th,
.secao_mostrar .table td {
    border: 1px solid #dee2e6;
    gap: 15px;
    padding: 8px;
    text-align: center;
}


@media screen and (max-width: 768px) {

    .secao_mostrar #caixa {
        padding: 20px;
        margin-top:200px;
        width: 100vw;
    }

    .secao_mostrar tr {
        display: flex;
        flex-direction: row;
    }
    .secao_mostrar .table {
        width: auto;
        margin-bottom: 0;
    }

    .secao_mostrar .table th,
    .secao_mostrar .table td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

  }