
.secao_ir{
  padding: 0;
}

.secao_ir2 .secao_ir3{
  padding: 0;
  margin-bottom: 100px;
  margin-top: 10px;
}

.secao_ir .container-total{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 150px;
}

.secao_ir .container{
  padding: 25px;
}

.secao_ir .formulario {
  display: flex;
  flex-direction: column;
  border: 1px solid #f1eedc;
  border-radius: 4px;
  padding: 20px;
  gap: 10px;
}

.secao_ir .btn-custom{
  background-color: rgb(233, 255, 198);
}

.secao_ir2 #caixa, 
.secao_ir3 #caixa2 {
  display: flex;
  flex-direction: column;
  background-color: rgb(196, 110, 104);
  padding: 50px;
  margin-top: 15px;
  border: 1px solid #d3a4a4;
  border-radius: 5px;
}
.secao_ir2 .div_container,
.secao_ir3 .div_container{
  overflow-x: auto;
}

.secao_ir2 .table, 
.secao_ir3 .table{
  border-collapse: collapse;
  width: 100%;
}

.secao_ir2 .table_body, 
.secao_ir3 .table_body{
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.secao_ir2 thead tr th,
.secao_ir3 thead tr th{
  border: 1px solid #c57676;
  text-align: center;
  padding: 5px;
}

.secao_ir2 tr, 
.secao_ir3 tr {
  background-color: rgb(255, 255, 255);
}


.secao_ir2 .tbody tr td,
.secao_ir3 .tbody tr td {
  background-color: rgb(255, 255, 255);
  border: 1px solid #c57676;
  padding: 5px;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {

  .secao_ir2 #caixa{
    padding: 10px;
    width: 99vw;
    margin-top: 20px;
  }

  .secao_ir3 #caixa2 {
    padding: 10px;
    width: 99vw;
    margin-top: 50px;
  }

  .secao_ir .container-total{
    justify-content: center;
    gap: 15px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 130px;
  }
  .secao_ir .container {
    width: 99vw;
    padding: 5px;
  }

  .secao_ir .formulario {
    padding: 10px;
  }

  .secao_ir2 thead tr th,
  .secao_ir3 thead tr th{
    width: 100%;
  }

  .secao_ir2 .tbody tr td,
  .secao_ir3 .tbody tr td {
    width: 100%;
    box-sizing: border-box;
    margin: auto;
  }

}