.secao_add_ativos{
    margin-top: 250px;
    padding: 0;
}
  
.secao_add_ativos #caixa {
    background-color: rgb(196, 110, 104);
    padding: 80px;
    border: 1px solid #d3a4a4;
    border-radius: 5px;
}

.secao_add_ativos .form-group{
    margin: 5px;
    gap: 5px;
}

.secao_add_ativos .btn-primary{
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    
    .secao_add_ativos{
        width: 98vw;
    }
    
    .secao_add_ativos .form-group{
        margin: 10px;
        gap: 10px;
        text-align: center;
    }

    .secao_add_ativos select, .secao_add_ativos input{
        text-align: center;
    }

    .secao_add_ativos #caixa {
        width: 100%;
        padding: 20px;
        margin-bottom: 50px;
    }

}
