.secao_formula{
    padding: 0;
    margin-top: 150px;
  }

  .secao_formula_2{
    padding: 0;
    margin-bottom: 20px;
  }

  .secao_formula #caixa_1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15px;
    max-width: 400px;
    background-color: rgb(196, 110, 104);
    margin-top: 30px;
    border: 1px solid #d3a4a4;
    border-radius: 5px;
  }
  
  .secao_formula .btn-custom {
    background-color: rgb(98, 245, 106);
  }

  .secao_formula_2 #caixa_2{
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 600px;
    background-color: rgb(196, 110, 104);
    padding: 40px;
    margin-top: 100px;
    margin-bottom: 40px;
    border: 1px solid #d3a4a4;
    border-radius: 5px;
  }

  .secao_formula_2 #caixa_3{
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 600px;
    background-color: rgb(196, 110, 104);
    padding: 40px;
    border: 1px solid #d3a4a4;
    border-radius: 5px;
  }
  
  .secao_formula .opcoes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .secao_formula .opcoes_formulas {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .secao_formula .btn-custom {
    background-color: rgb(98, 245, 106);
  }

  .secao_formula_2 .table{
    border-collapse: collapse;
    width: 100%;
  }

  .secao_formula_2 .table-responsive{
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .secao_formula_2 .table .buttons{
    display: flex;
    justify-content: center;
    padding: 5px;
    gap: 5px;
  }

  .secao_formula_2 .table th,
  .secao_formula_2 .table td{
    border: 1px solid #dee2e6;
    padding: 4px;
  }

  .secao_formula_2 .btn-warning, 
  .secao_formula_2 .btn-danger{
    padding: 4px;
    margin: 8px;
  }
 
  @media screen and (max-width: 768px) {

    .secao_formula_2{
      margin-bottom: 5px;
    }  

    .secao_formula #caixa,
    .secao_formula #caixa_1{
      padding: 10px;
      margin-top:20px;
    }

    .secao_formula_2 #caixa_2,
    .secao_formula_2 #caixa_3{
      padding: 10px;
      margin-bottom: 10px;
      width: 99vw;
    }

    .secao_formula_2 .table th,
    .secao_formula_2 .table td{
      width: 100%;   
      box-sizing: border-box;
    }

  }