/*dashboard*/

.secao_dash{
  padding: 0;
}

.secao_dash .container{
  margin-top: 150px;
  margin-bottom: 100px;
}

.secao_dash #organiza{
  display: flex;
  justify-content: center;
  gap: 80px;
}

.card {
  margin-bottom: 20px;
  padding: 20px 100px;
  border: 1px solid #dee2e6;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.font{
  font-size: 25px;
}

.secao_dash #caixa {
  display: flex;
  justify-content: center;
  padding: 120px 100px;
  margin-bottom: 100px;
  background-color: rgb(196, 110, 104);
}

.secao_dash #caixa2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 100px;
  margin-bottom: 50px;
  background-color: rgb(196, 110, 104);
}


@media screen and (max-width: 768px) {

  .secao_dash{
    width: 99vw;
    
  }
  .secao_dash .container{
    margin-bottom: 10px;
  }
  .secao_dash #organiza{
    flex-direction: column;
    gap: 10px;
  }

  .card {
    margin-bottom: 10px;
    padding: 10px;
  }

  .secao_dash #caixa {
    width: 98vw;
    padding: 50px;
   
  }
  .secao_dash #caixa2 {
    width: 98vw;
    padding: 50px;
   
  }
}