
.secao_mostrar{
    padding: 0;
    margin-top: 50px;
}

.secao_mostrar #caixa {
    display: flex;
    flex-direction: column;
    background-color: rgb(196, 110, 104);
    padding: 60px;
    margin-top: 100px;
    margin-bottom: 400px;
    border: 1px solid #d3a4a4;
    border-radius: 7px;
}

.secao_mostrar .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.secao_mostrar .table{
    border-collapse: collapse;
    width: 100%;
}

.secao_mostrar .table th,
.secao_mostrar .table td {
    border: 1px solid #dee2e6;
    padding: 5px;
    text-align: center;
}


@media screen and (max-width: 768px) {

    .secao_mostrar #caixa {
        padding: 20px;
        margin-top:200px;
        width: 99vw;
    }

    .secao_mostrar .table th,
    .secao_mostrar .table td {
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

  }