
.secao_ir{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 20px;
  padding: 0;
}

/*seções das ações e fiis*/

.secao_ir2 .secao_ir3{
  padding: 0;
  margin-bottom: 100px;
}

/*seção de baixar e buscar*/

.secao_ir .container-total{
  min-width: 550px;
}

.secao_ir .container2{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 0;
}

.secao_ir .formulario {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(202, 201, 132);
  border-radius: 4px;
  padding: 20px;
  gap: 15px;
}

.secao_ir .form-select{
  text-align: center;
}

.secao_ir .formulario2 {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

/*procurar por ano*/

.secao_ir #procura {
  display: flex;
  flex-direction: row;
  max-width: 200px;
}

.secao_ir #procura label {
  margin-right: 20px;
  flex-direction: row;
}

.secao_ir .btn-custom{
  background-color: rgb(233, 255, 198);
}

/*seções das ações e fiis*/

.secao_ir2 #caixa, 
.secao_ir3 #caixa2 {
  display: flex;
  flex-direction: column;
  background-color: rgb(196, 110, 104);
  padding: 50px;
  min-width: 600px;
  margin-top: 15px;
  border: 1px solid #d3a4a4;
  border-radius: 5px;
}

.secao_ir2 .div_container,
.secao_ir3 .div_container{
  overflow-x: auto;
}

/*tables das seções das ações e fiis*/

.secao_ir2 .table, 
.secao_ir3 .table{
  border-collapse: collapse;
  width: 100%;
}

.secao_ir2 .table_body, 
.secao_ir3 .table_body{
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.secao_ir2 thead tr th,
.secao_ir3 thead tr th{
  border: 1px solid #c57676;
  text-align: center;
  padding: 5px;
}

.secao_ir2 tr, 
.secao_ir3 tr {
  background-color: rgb(255, 255, 255);
}

.secao_ir2 .tbody tr td,
.secao_ir3 .tbody tr td {
  background-color: rgb(255, 255, 255);
  border: 1px solid #c57676;
  padding: 5px;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {

  .secao_ir2 #caixa{
    padding: 10px;
    min-width: 300px;
    width: 98vw;
    margin-top: 20px;
  }

  .secao_ir3 #caixa2 {
    padding: 10px;
    min-width: 300px;
    width: 98vw;
    margin-top: 50px;
  }

  .secao_ir .container-total{
    min-width: 300px;
  }

  .secao_ir .formulario {
    max-height: 400px;
    padding: 50px;
    gap: 10px;
  }

  .secao_ir2 thead tr th,
  .secao_ir3 thead tr th{
    width: 100%;
  }

  .secao_ir2 .tbody tr td,
  .secao_ir3 .tbody tr td {
    width: 100%;
    box-sizing: border-box;
    margin: auto;
  }

}